services:
  runner:
    image: "ghcr.io/traptitech/piscon-portal-v2/runner:{{ runner.git_ref }}"
    volumes:
      - /srv/runner/piscon_runner.yaml:/piscon_runner.yaml
{% for volume in runner.problem_volumes[problem.name] %}
      - {{ volume }}
{% endfor %}
    logging:
      driver: journald
