portal:
  address: "{{ runner.portal_address }}"
problem:
  name: isucon14
  options:
    benchmarker-path: /home/isucon/bench
    benchmarker-ip: "{{ ansible_default_ipv4.address }}"
    benchmarker-dir: /home/isucon
    payment-bind-port: 12346
