portal:
  address: "{{ runner.portal_address }}"
problem:
  name: isucon11-qualify
  options:
    benchmarker-path: /home/isucon/bench/bench
    benchmarker-ip: "{{ ansible_default_ipv4.address }}"
    benchmarker-dir: /home/isucon/bench
