[Unit]
Description=PISCON Runner
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/srv/runner
ExecStart=/usr/bin/docker compose --file /srv/runner/compose.yaml up --detach
ExecStop=/usr/bin/docker compose --file /srv/runner/compose.yaml down
ExecReload=/usr/bin/docker compose --file /srv/runner/compose.yaml restart
TimeoutStartSec=300
Restart=no

[Install]
WantedBy=multi-user.target
