[Unit]
Description=PISCON Runner

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/srv/runner
ExecStart=/usr/local/bin/runner
TimeoutStartSec=300
Restart=no
LimitNOFILE=524288:524288

[Install]
WantedBy=multi-user.target
